.card-container{
    position: relative;
}

.card-content__nosotros{
    display: inline-block;
    flex-direction: column;
    z-index: -10;
}
.shadow{
    box-shadow: 75px 56px 19px 10px rgba(0,0,0,1);
}

.img-card__nosotros{
    position: absolute;
    z-index: 10;
    top: -40px;
    left: -15px;
    border-radius: 50%;
    
}