.card {
    box-sizing: border-box;
    width: 250px;
    height: 300px;
    background: rgba(217, 217, 217, 0.58);
    background-image: url(public/assets/bg-card.png);
    background-position: bottom;
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    transition: all 0.5s;
    
   
    user-select: none;
    font-weight: bolder;
    color: black;
  }
  
  .card:hover {
    border: 1px solid black;
    /* transform: scale(1.05); */
  }
  
  .card:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }


 
 
  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
/* 
  .card h2{
    font-size: 1.1em;
  }

  .card h3{
    font-size: 0.8em;
  } */