
.link{
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.link:hover{
    color: rgb(63, 60, 60);
    filter: opacity(0.5);

}
