* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

h1,
h2 {
  font-family: 'Lobster', cursive;
}



h2 {
  font-weight: bolder;
}

.d-flex {
  display: flex;
}

p {
  font-weight: 500;
  font-size: 14px;
}

span {
  padding: 0 8px;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  font-weight: bolder;
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  font-weight: bolder;
}

.stroke {
  -webkit-text-stroke: 1.2px black;
}


.button {
  appearance: button;
  background-color: #27b8a3;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .6px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 9px 15px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button:after {
  background-clip: padding-box;
  background-color: #0b6354;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button:main,
button:focus {
  user-select: auto;
}

.button:hover:not(:disabled) {
  filter: brightness(1.2);
}

.button:disabled {
  cursor: auto;
}

.button:active:after {
  border-width: 0 0 0px;
}

.button:active {
  padding-bottom: 10px;
}

.shadowBox {
  box-shadow: 7px 6px 11px 6px rgba(0, 0, 0, 0.3);

}




/* CSS HEX */
/* // --dark-jungle-green: #092327ff;
// --deep-jungle-green: #0b5351ff;
// --light-sea-green: #00a9a5ff;aqua
// --teal-blue: #4e8098ff;
// --white: #ffffffff; */